body {
    background-color: #ff4937;
    line-height: 1.45;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
}
.profile-pic {
    max-width: 30%;
    float: right;
    align-content: right;
    display: flex;
    padding: 10px;
    height: auto;
}
header {
    padding: 1rem 0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.location {
    margin: 0 0 0 10px;
    font-weight: 500;
    color: black;
    font-size: medium;
    text-align: right;
}
.contact p {
    font-size: small;
    text-align: right;
    margin: 0 auto;
}
.contact a {
    color: white;
}
.contact a:hover {
    color: black;
}
.nav-bar {
    max-width: 1100px;
    margin: .5rem auto;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 16px;
    border-bottom: 2px solid;
    border-bottom-color: black;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 0 2rem; 
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.nav-bar a:hover{
    color: black;
}
h1 {
    font-size: x-large;
    text-align: left;
    margin: 0 0 0.5rem;
    color: black;
}
.first-name {
    margin: 0 0 0 10px;
    line-height: 0.9;
    text-transform: uppercase;
    font-family:"Rock 3D", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: xxx-large;
    color: black;
    padding: .25rem 0 .5rem;
    max-width: 1000px;
}
.last-name {
    margin: 0 0 0 10px;
    line-height: .90;
    text-transform: uppercase;
    font-family:"Rock 3D", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: black;
    padding: .25rem 0 .5rem;
    max-width: 1000px;
}
h2 {
    font-size: large;
    text-align: left;
    margin: 0 0 0.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}
.skills {
    display: block;
    float: left;
}
.skills li {
    list-style: none;
    color: black;
    text-align: left;
}
.clearfix {
    clear: both;
}
.two-columns {
    column-count: 2;
    margin-left: 8%;
    margin-right: 12%;
    margin-top: 2px;
}
h3 {
    font-size: medium;
    line-height: 1.2;
    margin: 0 0 .25rem;
}
.grad-date {
    font-size: small;
    line-height: 1.2;
    margin: 0 0 .25rem;
}
.grad-institution {
    font-size: small;
    line-height: 1.3;
    margin: 0 0 .25rem;
}
.project {
    display: flex;
    gap: 1px;
    align-items: flex-start;
    margin: 1.25rem;
}
.project-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5px;
    text-align: left;
}
.project img {
    max-width: 300px;
    height: auto;
    flex-shrink: 0;
    margin: 0;
    padding: 1;
    border: 0;
}
.project a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.project a:hover {
    color: white;
}
footer {
    border-top: 1px solid;
    text-align: center;
    padding: 5px;
}
